openapi: 3.2.0
info:
  title: QuickNode Key-Value Store REST Database API
  description: The QuickNode Key-Value Store REST API provides a managed, large-scale key-value storage service accessible over HTTP. Developers can create namespaces (databases), write and read keys, batch-load data, and delete keys, making it suitable for storing onchain-related metadata, indexer state, and application configuration alongside QuickNode's blockchain infrastructure. Authentication uses an API key issued from the QuickNode dashboard.
  version: 1.0.0
  contact:
    name: QuickNode Support
    url: https://www.quicknode.com/support
  termsOfService: https://www.quicknode.com/terms-of-service
servers:
- url: https://api.quicknode.com/kv/rest/v1
  description: QuickNode Key-Value Store REST production server
security:
- ApiKeyAuth: []
tags:
- name: Database
  description: Manage key-value namespaces (databases).
paths:
  /databases:
    get:
      tags:
      - Database
      summary: List databases
      operationId: listDatabases
      responses:
        '200':
          description: Successful response
    post:
      tags:
      - Database
      summary: Create a database
      operationId: createDatabase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Database created
  /databases/{database}:
    delete:
      tags:
      - Database
      summary: Delete a database
      operationId: deleteDatabase
      parameters:
      - name: database
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Database deleted
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: QuickNode Key-Value Store Documentation
  url: https://www.quicknode.com/docs/key-value-store
