openapi: 3.1.0
info:
  title: QuickNode IPFS REST Account Batch API
  description: The QuickNode IPFS REST API provides programmatic access to QuickNode's managed IPFS pinning, gateway, and account services. Developers can pin files and CIDs to keep them persistently available on the InterPlanetary File System, manage dedicated gateways for retrieval, and inspect account usage including bandwidth and storage. Authentication is performed using an API key issued from the QuickNode dashboard.
  version: 1.0.0
  contact:
    name: QuickNode Support
    url: https://www.quicknode.com/support
  termsOfService: https://www.quicknode.com/terms-of-service
servers:
- url: https://api.quicknode.com/ipfs/rest
  description: QuickNode IPFS REST production server
security:
- ApiKeyAuth: []
tags:
- name: Batch
  description: Bulk-load operations against a database.
paths:
  /databases/{database}/batch:
    post:
      tags:
      - Batch
      summary: Bulk write keys
      operationId: batchWrite
      parameters:
      - name: database
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
      responses:
        '200':
          description: Batch processed
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: QuickNode IPFS Documentation
  url: https://www.quicknode.com/docs/ipfs
