openapi: 3.1.0
info:
  title: QuickNode IPFS REST Account Streams API
  description: The QuickNode IPFS REST API provides programmatic access to QuickNode's managed IPFS pinning, gateway, and account services. Developers can pin files and CIDs to keep them persistently available on the InterPlanetary File System, manage dedicated gateways for retrieval, and inspect account usage including bandwidth and storage. Authentication is performed using an API key issued from the QuickNode dashboard.
  version: 1.0.0
  contact:
    name: QuickNode Support
    url: https://www.quicknode.com/support
  termsOfService: https://www.quicknode.com/terms-of-service
servers:
- url: https://api.quicknode.com/ipfs/rest
  description: QuickNode IPFS REST production server
security:
- ApiKeyAuth: []
tags:
- name: Streams
  description: Manage Streams definitions and lifecycle.
paths:
  /streams:
    get:
      tags:
      - Streams
      summary: List Streams
      operationId: listStreams
      responses:
        '200':
          description: Successful response
    post:
      tags:
      - Streams
      summary: Create a Stream
      operationId: createStream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                network:
                  type: string
                dataset:
                  type: string
                filter:
                  type: string
                destination:
                  type: string
      responses:
        '201':
          description: Stream created
  /streams/{streamId}:
    get:
      tags:
      - Streams
      summary: Get Stream details
      operationId: getStream
      parameters:
      - name: streamId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
    delete:
      tags:
      - Streams
      summary: Delete a Stream
      operationId: deleteStream
      parameters:
      - name: streamId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Stream deleted
  /streams/{streamId}/pause:
    post:
      tags:
      - Streams
      summary: Pause a Stream
      operationId: pauseStream
      parameters:
      - name: streamId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stream paused
  /streams/{streamId}/resume:
    post:
      tags:
      - Streams
      summary: Resume a Stream
      operationId: resumeStream
      parameters:
      - name: streamId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stream resumed
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: QuickNode IPFS Documentation
  url: https://www.quicknode.com/docs/ipfs
