openapi: 3.1.0
info:
  title: QuickNode IPFS REST Account Keys API
  description: The QuickNode IPFS REST API provides programmatic access to QuickNode's managed IPFS pinning, gateway, and account services. Developers can pin files and CIDs to keep them persistently available on the InterPlanetary File System, manage dedicated gateways for retrieval, and inspect account usage including bandwidth and storage. Authentication is performed using an API key issued from the QuickNode dashboard.
  version: 1.0.0
  contact:
    name: QuickNode Support
    url: https://www.quicknode.com/support
  termsOfService: https://www.quicknode.com/terms-of-service
servers:
- url: https://api.quicknode.com/ipfs/rest
  description: QuickNode IPFS REST production server
security:
- ApiKeyAuth: []
tags:
- name: Keys
  description: Read, write, and delete keys within a database.
paths:
  /databases/{database}/keys/{key}:
    get:
      tags:
      - Keys
      summary: Get a value by key
      operationId: getKey
      parameters:
      - name: database
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
    put:
      tags:
      - Keys
      summary: Set a value for a key
      operationId: setKey
      parameters:
      - name: database
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
      responses:
        '200':
          description: Key set
    delete:
      tags:
      - Keys
      summary: Delete a key
      operationId: deleteKey
      parameters:
      - name: database
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Key deleted
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: QuickNode IPFS Documentation
  url: https://www.quicknode.com/docs/ipfs
